[submodule "public/.vim/bundle/gundo"]
	path = public/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "public/.vim/bundle/tabular"]
	path = public/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "public/.vim/bundle/vim-colors-solarized"]
	path = public/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "public/.vim/bundle/vim-fugitive"]
	path = public/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "public/.vim/bundle/vim-gnupg"]
	path = public/.vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "public/.oh-my-zsh"]
	path = public/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "public/.vim/bundle/supertab"]
	path = public/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "public/.vim/bundle/nerdtree"]
	path = public/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "public/.vim/bundle/nerdcommenter"]
	path = public/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "public/.vim/bundle/syntastic"]
	path = public/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "public/.vim/bundle/tagbar"]
	path = public/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "public/.vim/bundle/vim-javascript"]
	path = public/.vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "public/.vim/vim-pathogen"]
	path = public/.vim/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "public/.vim/bundle/vim-markdown"]
	path = public/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "public/.vim/bundle/vim-latex"]
	path = public/.vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "public/.vim/bundle/vim-airline"]
	path = public/.vim/bundle/vim-airline
	url = http://github.com/bling/vim-airline
[submodule "public/.vim/bundle/vim-coffee-script"]
	path = public/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "public/.vim/bundle/vim-go"]
	path = public/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "public/.vim/bundle/vim-spacebars"]
	path = public/.vim/bundle/vim-spacebars
	url = https://github.com/Slava/vim-spacebars.git
[submodule "public/.vim/bundle/vim-jade"]
	path = public/.vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "public/.vim/bundle/vim-stylus"]
	path = public/.vim/bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "public/.vim/bundle/Dockerfile"]
	path = public/.vim/bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "public/.vim/bundle/vim-racket"]
	path = public/.vim/bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "public/.vim/bundle/rust.vim"]
	path = public/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "public/.vim/bundle/vim-elixir"]
	path = public/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "public/.vim/bundle/vim-airline-themes"]
	path = public/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
